<div class="pagina-completa">
    <mat-toolbar class="custom-toolbar">
        <img src="../../../../assets/logo.png" class="toolbar-logo">
        <span class="toolbar-spacer2"></span>
        <span class="toolbar-title">EduJob+</span>
        <span class="toolbar-spacer"></span>
        <button mat-raised-button class="button-toolbar" routerLink="/createC">Crear Cuenta</button> 
        <button mat-raised-button class="button-toolbar" routerLink="/menu">Regresar al Menu</button>
    </mat-toolbar>


<div class="toggle-container">
    <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="selectedOption" class="toggle-group">
      <mat-button-toggle value="E">Login de Usuario de Empresa</mat-button-toggle>
      <mat-button-toggle value="P">Login de Usuario Personal</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div class="login-container" *ngIf="selectedOption == 'E'">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Iniciar Sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <input matInput placeholder="Correo" type="email" [(ngModel)]="correo" name="correo" required>
          </mat-form-field>
  
          <mat-form-field>
            <input matInput placeholder="Contraseña" type="password" [(ngModel)]="contrasena" name="contrasena" required>
          </mat-form-field>
  
          <button mat-raised-button color="primary" (click)="submitLogin()">Iniciar Sesión</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="login-container" *ngIf="selectedOption == 'P'">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Iniciar Sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <input matInput placeholder="Correo" type="email" [(ngModel)]="pcorreo" name="correo" required>
          </mat-form-field>
  
          <mat-form-field>
            <input matInput placeholder="Contraseña" type="password" [(ngModel)]="pass" name="contrasena" required>
          </mat-form-field>
  
          <button mat-raised-button color="primary" (click)="compP()">Iniciar Sesión</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>