<div class="pagina-completa">
    <div class="pagina-completa">
        <mat-toolbar class="custom-toolbar">
            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
            <span class="toolbar-spacer"></span>
            <span class="toolbar-title">EduJob+</span>
            <span class="toolbar-spacer"></span>
            <button mat-button routerLink="/menuP/{{correo}}">
                <mat-icon>home</mat-icon>
                Ir a Menu
            </button>
            <button mat-button (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                    Cerrar Sesión
            </button>
        </mat-toolbar>
    </div>
    
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/listPA/{{correo}}">Propuestas Aplicadas</button>
        <button mat-menu-item routerLink="/listMC/{{correo}}">Mis Cursos</button>
    </mat-menu>

<div class="body">
    <table>
        <tr>
          <th>Título</th>
          <th>Nombre</th>
          <th>Informacion</th>
        </tr>
        <tr *ngFor="let op of resultados">
            <td>{{op.Titulo}}</td>
            <td>{{op.Enombre}}</td>
            <td><button class="submit-button" routerLink="/moreInfoPro/{{correo}}/{{op.Enombre}}/{{op.Titulo}}">Ver mas informacion</button></td>
        </tr>
    </table>
</div>

<div class="footer">
    <button class="submit-button" routerLink="/menuP/{{correo}}">Regresar</button>
</div>