<div class="pagina-completa">
    <mat-toolbar class="custom-toolbar">
        <img src="../../../../assets/logo.png" class="toolbar-logo">
        <span class="toolbar-spacer2"></span>
        <span class="toolbar-title">EduJob+</span>
        <span class="toolbar-spacer"></span>
        <button mat-raised-button class="button-toolbar" routerLink="/createC">Crear Cuenta</button> 
        <button mat-raised-button class="button-toolbar" routerLink="/login">Ingresar</button>
    </mat-toolbar>
</div>
  