<div class="pagina-completa">
    <mat-toolbar class="custom-toolbar">
        <img src="../../../../assets/logo.png" class="toolbar-logo">
        <span class="toolbar-spacer2"></span>
        <span class="toolbar-title">EduJob+</span>
        <span class="toolbar-spacer"></span>
        <button mat-button routerLink="/menuE/{{enombre}}">
            <mat-icon>home</mat-icon>
            Ir a Menu
        </button>
        <button mat-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
                Cerrar Sesión
        </button>
    </mat-toolbar>
</div>

<div *ngIf="comp == 1">
    <br><br><br>
    <h2>No tiene respuestas por el momento</h2>
</div>

<div *ngIf="comp == 2">
    <br><br><br>
    <h2>Nombre de la Empresa: {{enombre}}</h2>
    <h2>Titulo de la Propuesta: {{titulo}}</h2>
    <h2>Numero de Pregunta: {{idF}}</h2><br>
    <table>
        <thead>
            <td>Pregunta</td>
            <td>Respuesta</td>
            <td>Correo del Aplicante</td>
        </thead>
        <tr *ngFor="let op of resultados">
            <td>{{op.pregunta}}</td>
            <td>{{op.res}}</td>
            <td>{{op.Pcorreo}}</td>
        </tr>
    </table>
</div>

<div class="footer">
    <button class="submit-button" routerLink="/lisForm/{{enombre}}">Regresar</button>
</div>